[submodule "lib/numlua"]
	path = lib/numlua
	url = https://github.com/carvalho/numlua.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/leaf"]
	path = lib/leaf
	url = https://github.com/minism/leaf.git
